# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
xray_env/
.venv/
translator_env/

# Environment files
.env

# Distribution / packaging
*.egg-info/
*.dist-info/
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/
datasets/
*.zip
*.tar
*.gz

# Temporary files
*.tmp
*.temp